# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins-dependencies
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/gradle/
android/local.properties
android_old/

# CMake / Native build cache
build/.cxx/
.cxx/

# Misc
*.log
*.zip
*.jar
*.tmp
*.DS_Store
.metadata
project_structure.txt
